$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/CrimsonText-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  src: url('/fonts/Nunito-ItalicVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  src: url('/fonts/SourceSans3-ItalicVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/SourceSerif4-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif 4';
  font-style: italic;
  src: url('/fonts/SourceSerif4-ItalicVariable.ttf') format('truetype');
}

:root {
  --sans-serif: 'Source Sans 3';
  --serif: 'Source Serif 4';
  --heading: 'Nunito';
  --monospace: 'JetBrains Mono';
  --line-height: 1.6;
  --border: #efefef;
  --darker-border: #dedede;
  --background: #f5f2f0;
  --theme: #690;
  --foreground: white;

  --border-width: 14px;
  --md-post-width: 60vw;
  --lg-post-width: 50vw;
  --md-toc-width: 30vw;
  --lg-toc-width: 20vw;

  @media screen and (min-width: $md) {
    --empty-col-width: calc((100vw - var(--md-post-width) - var(--md-toc-width)) / 2);
  }

  @media screen and (min-width: $lg) {
    --empty-col-width: calc((100vw - var(--lg-post-width) - var(--lg-toc-width)) / 2);
  }
}

* {
  box-sizing: border-box;
}

a {
  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

body,
html {
  background-color: var(--theme);
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: clip;
  padding: 0;
}

body {
  padding: var(--border-width);
  max-height: 100vh;
  overflow-y: auto;
}

button[type='submit'] {
  background-color: var(--theme);
  border: 0;
  border-radius: 9px;
  color: var(--foreground);
  cursor: pointer;
  font-family: var(--heading);
  font-size: inherit;
  padding: 7px 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transform: transform 0.1s ease-in;

  &:hover,
  &:focus {
    transform: scale(103%);
  }
}

input {
  border: 0;
  background: transparent;
  font-size: inherit;
  font-family: var(--monospace);
  flex: 1;
  outline: none;
  padding-inline: 7px;
}

textarea {
  resize: none;
}

header {
  position: relative;
  padding-top: 5rem;

  #logo {
    color: var(--foreground);
    font-family: var(--heading);
    font-size: 5rem;
    letter-spacing: -5px;
    margin: 0;
    pointer-events: none;
    user-select: none;

    @media screen and (max-width: $sm) {
      font-size: 4rem;
    }
  }

  #color-picker-wrapper {
    cursor: col-resize;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    @media screen and (max-width: $lg) {
      display: none;
    }

    .picker {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      width: 30px;
      height: 30px;
      position: absolute;
      background-color: var(--theme);
      border: 3px solid var(--foreground);
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
      z-index: 999;
    }

    &:hover {
      .picker {
        opacity: 1;
      }
    }
  }
}

#draft-wrapper {
  background-color: var(--foreground);
  font-family: var(--sans-serif);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--border-width));
  max-height: calc(100vh - var(--border-width));

  h1 {
    font-weight: 200;
  }

  .passcode {
    display: flex;
    gap: 9px;

    input {
      font-size: 72px;
      width: 72px;
      border: 2px solid var(--darker-border);
      border-radius: 0;

      &:focus {
        border-color: var(--theme);
      }
    }
  }
}

#post-wrapper {
  background-color: white;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 -4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative;

  @media screen and (min-width: $md) {
    display: flex;
    justify-content: center;
  }

  article,
  aside {
    background-color: var(--foreground);
    font-size: 1.2rem;
    padding: 2rem;

    @media screen and (min-width: $md) {
      padding-top: 4rem;
    }
  }

  article {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    line-height: var(--line-height);
    font-family: var(--serif);
    padding-bottom: 3rem;

    @media screen and (min-width: $md) {
      width: var(--md-post-width);
      max-width: var(--md-post-width);
    }

    @media screen and (min-width: $lg) {
      width: var(--lg-post-width);
      max-width: var(--lg-post-width);
    }

    > div > blockquote {
      /* font-style: italic; */
      position: relative;

      &::before {
        font-family: 'Crimson Text', cursive;
        font-size: 5rem;
        content: '“';
        position: absolute;
        top: -7px;
        left: -4px;
        line-height: 1;
        z-index: 0;
        color: var(--theme);
        opacity: 0.5;
      }
    }

    code,
    pre {
      font-family: var(--monospace) !important;
      font-size: 1.1rem;
    }

    h1,
    h2 {
      font-family: var(--heading);
      font-weight: 900;

      @media screen and (max-width: $xl) {
        line-height: 1.4;
      }
    }

    h1 {
      font-size: 2.4rem;
      line-height: 1.3;
      margin-top: 0;
      margin-bottom: 0.3em;
    }

    h2 {
      display: flex;
      align-items: center;
      gap: 4px;

      .link {
        color: black;
        cursor: pointer;
        font-size: 1.2rem;
        opacity: 0;
        transition:
          color 0.1s ease-in-out,
          opacity 0.1s ease-in-out;

        &:hover {
          color: var(--theme);
        }
      }

      &:hover {
        .link {
          opacity: 1;
        }
      }
    }

    img {
      max-width: 100%;
      display: block;
      margin: 1em 0;
    }

    p {
      text-indent: 1em;
      margin: 0.5em 0;
    }

    .demo,
    pre {
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      background-color: var(--background);
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      position: relative;
      z-index: 999;

      @media screen and (max-width: $md) {
        margin-left: -2rem;
        width: calc(100vw - var(--border-width) * 2 - 1px);
      }

      @media screen and (min-width: $md) {
        width: calc(100vw - var(--border-width) * 2);
        margin-left: calc(
          (-1 * var(--empty-col-width)) - 2rem + (var(--border-width) - 1px)
        );
        padding-left: calc(var(--empty-col-width) - var(--border-width));
      }
    }

    .demo {
      p {
        font-family: var(--sans-serif);
        text-indent: 0;
      }
    }

    nav {
      border-left: 1px solid var(--darker-border);
      border-right: 1px solid var(--darker-border);
      padding-inline: 2rem;
      display: flex;
      justify-content: space-between;

      @media screen and (min-width: $md) {
        width: var(--md-post-width);
        max-width: var(--md-post-width);
      }

      @media screen and (min-width: $lg) {
        width: var(--lg-post-width);
        max-width: var(--lg-post-width);
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 4px;

        i {
          line-height: var(--line-height);
        }
      }
    }

    pre {
      div {
        border-left: 1px solid var(--darker-border);
        padding-left: 2rem;
        line-height: 1.3;
        margin-top: calc(
          (((1.1rem * 1.6) - 1.1rem) - ((1.1rem * 1.3) - 1.1rem)) / 2
        );
        margin-bottom: calc(
          (((1.1rem * 1.6) - 1.1rem) - 0.5 * ((1.1rem * 1.3) - 1.1rem)) / 2
        );

        span {
          background-color: transparent !important;
        }
      }
    }

    .comments {
      padding-bottom: 2rem;
      max-width: calc(var(--post-width) - 2rem);

      > h2 {
        margin-bottom: 0;
      }

      > p,
      .no-comments {
        margin-top: 0;
      }

      .comment {
        padding-left: 2rem;
        font-family: var(--sans-serif);
        font-size: 0.995rem;
        border-left: 1px solid var(--darker-border);

        blockquote {
          border-left: 4px solid var(--darker-border);
          margin-left: 0;
          font-style: italic;
          padding-left: 14px;
        }

        h3 {
          font-weight: 600;
          margin-bottom: 0;
        }

        pre {
          margin: 0.5em 0;
          padding-inline: 0 !important;
          border-top: 0;
          border-bottom: 0;
        }

        code {
          font-size: 0.895rem !important;
        }
      }
    }

    #date {
      margin-top: calc(2rem + 0.5em);
      margin-bottom: 0;
      font-family: var(--sans-serif);
      font-style: italic;
      text-indent: 0;
    }
  }

  aside {
    background-color: white;
    font-family: var(--sans-serif);
    width: var(--md-toc-width);
    max-width: var(--md-toc-width);
    // position: sticky;
    // top: 0;
    align-self: flex-start;
    padding-top: calc(4rem + 1.5rem + 3em + 2rem + 0.5em);

    @media screen and (min-width: $lg) {
      width: var(--lg-toc-width);
      max-width: var(--lg-toc-width);
    }

    p {
      margin-bottom: 0;
      margin-top: 0.2em;
      font-style: italic;

      a {
        text-decoration: none;
      }
    }

    @media screen and (max-width: $md) {
      display: none;
    }
  }

  a {
    color: var(--theme);
  }
}

footer {
  background-color: var(--theme);
  color: var(--foreground);
  font-family: var(--sans-serif);
  font-size: 1.1rem;

  @media screen and (min-width: $md) {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  @media screen and (min-width: $lg) and (max-width: $xl) {
    padding-inline: 1.5rem;
  }

  @media screen and (max-width: $lg) {
    padding-inline: 2rem;
  }

  a {
    color: var(--foreground);
  }

  .subscribe {
    text-align: right;

    form {
      background-color: white;
      margin-top: 1em;
      display: flex;
      width: 100%;
      padding: 7px;
      border-radius: 14px;
    }
  }

  > div {
    padding-top: 1rem;

    @media screen and (min-width: $md) {
      width: 50vw;
      max-width: 50vw;
    }

    @media screen and (min-width: $lg) and (max-width: $xl) {
      width: 40vw;
      max-width: 40vw;
    }

    @media screen and (min-width: $xl) {
      width: 30vw;
      max-width: 30vw;
    }

    @media screen and (max-width: $md) {
      text-align: right;
    }

    code {
      font-family: var(--monospace);
    }
  }
}
